@page "/"
<div class="outer text-center text-bg-light">
    <div class="cover w-100 h-100 p-3 flex-column">
        <div class="px-3" style="margin-top:320px; margin-bottom:165px" >
            <h1>TechNuerons</h1>
            <p class="lead">Helping You Achieve Your Business Goals with Customized Technology Solutions.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
            </p>
        </div>
    </div>
</div>

